header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 px 5px #dbdbdb9b;
    padding: 1rem .5rem;
}
header > span{
    width: 100px;
    padding: 0 .5rem
}
header div.tasks_number{
    display: none
}

header > div{
    cursor: pointer;
}

header .wrapper_right_header{
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .user{
    font-size: .8rem
}
.donate_button{
    background-color: brown;
    color: white;
    border: none;
    border-radius: .3rem;
    padding: .2rem;
    cursor: pointer;
}
.donate_button:hover{
    background-color: rgba(165, 42, 42, 0.899);
}

@media (min-width: 600px) {
    header div.tasks_number{
        display: flex;
        font-size: .8rem
    }
    header .wrapper_right_header{
        width: 80%;
        
    }
}